{
    "PathPrefix": "${PATH_PREFIX}",
    "APIPrefix": "${API_PREFIX}",
    "Address": "${BIND_ADDRESS}",
    "DBPath": "${DB_PATH}",
    "ImagePath": "${IMAGE_PATH}",
    "ImageURL": "${IMAGE_URL}",
    "SignupAllowed": "${SIGNUP_ALLOWED}"
}
