server {
    listen       80;
    server_name  localhost;

    client_max_body_size 20m;

    location / {
        proxy_pass http://frontend/;
    }

    location /api/ {
        proxy_pass http://backend:8080/;
    }
}

